.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(214, 210, 210, 0.5);
    border-radius: 3px;
    width: 485px;
    padding: 0 10px;
    margin: 10px 0;
}
.item{
    width: 70%;
    padding: 10px;
}
.price{
    text-align: center;
}
.delete{
    text-decoration: none;
    color: #000;
    margin-left: 20px;
}
